input {
    background: none;
    outline: none;
    width: 95%;
    caret-color: rgb(0, 153, 255);
}

.gif {
    top: 1vh;
    right: 10vw;
    z-index: 10;
    /* transform: rotate(-90deg); */
}

.screen{
    overflow-y: auto;
    overflow-x: hidden;
}

